export(GeneaBinReader, AxivityCwaReader, GENEActivReader, GENEActivBinReader)
useDynLib(GGIRread, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
