export(readGenea, readAxivity, readGENEActiv, GENEActivReader, resample, readWav)
useDynLib(GGIRread, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("utils", "read.csv")